body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #07063b;
    color: white;
    padding: 5px 0;
    text-align: center;
    width: auto;
    height: auto;
}

.banner {
    width: 100%;
    height: auto;
    max-height: 300px; /* Ajusta este valor según el espacio que desees */
    object-fit: cover; /* Asegura que la imagen cubra el área del banner sin distorsionarse */
    }


    nav {
        background-color: #021120; /* Azul oscuro */
        width: 100%; /* Asegura que la barra de navegación ocupe todo el ancho de la página */
        padding: 0; /* Espaciado vertical */
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center; /* Centra los elementos de la barra de navegación */
    }
    
    nav ul li {
        margin: 0 30px; /* Espaciado horizontal entre los elementos */
        text-align:left;
    }
    
    nav ul li a {
        color: white; /* Color del texto */
        text-decoration: none; /* Quita el subrayado de los enlaces */
        font-size: 1.2em; /* Tamaño del texto */
    }
    

.filtros {
    margin-top: 8px ;
    padding: 0 30px;
    text-align: right;
    width: auto;
    height: auto;
}

.productos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 50px;
}

.producto {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.producto p {
    color: #888;
}

.producto a {
    background-color: #2206c2;
    color: white;
    display: inline-block;
    margin-top: 10px;
    padding: 20px;
    text-decoration: none;
    border-radius: 5px;
}


.placeholder { 

    text-align: center;
}